/* Fonts */

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Poppins/400/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Poppins/400/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../files/fonts/Poppins/600/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../files/fonts/Poppins/600/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Poppins/700/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Poppins/700/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Normalize */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

picture,
img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: 700;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* Mixins */

/* Media screen */

/* ui */

/* n Select */

/* n Lazy Loading */

/* n Spollers */

/* n Pop up */

/* n Classes */

/*
a {
   color: inherit;
   transition: color 0.3s;
   text-decoration: none;

   @media (any-hover: hover) {

      &:hover {
         color: #fff;
      }
   }
}
*/

/* Header */

/* Page - Home */

:root {
  --padding-content: 105px;
  --padding-content: 105px;
}

body.new-slider-page {
  background-color: #0D0F19;
}

body.new-slider-page._lock {
  overflow: hidden;
}

.new-slider-page .elementor-location-header {
  display: none;
}

.new-slider-page__content-page {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 1928px;
}

.new-slider-page__blockLogo {
  display: flex;
  height: 56px;
  justify-content: center;
  margin: 0 0 53px;
}

.new-slider-page__blockLogo svg,
.new-slider-page__blockLogo img {
  max-height: 100%;
  max-width: 100%;
}

.new-slider-page__sidebar {
  background-color: #171A2D;
  padding: 38px 26px 25px;
  position: relative;
  width: 260px;
}

.new-slider-page__sidebar::before {
  background-color: inherit;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateX(-99%);
  width: 100vw;
}

.new-slider-page__sidebar ul,
.new-slider-page__sidebar ol {
  margin-left: 0;
  padding-left: 0;
}

.new-slider-page__sidebar ul.add-icons li,
.new-slider-page__sidebar ol.add-icons li {
  padding-left: 37px;
  position: relative;
}

.new-slider-page__sidebar ul.add-icons li::before,
.new-slider-page__sidebar ol.add-icons li::before {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 16V13.2C0 12.6333 0.145833 12.1125 0.4375 11.6375C0.729167 11.1625 1.11667 10.8 1.6 10.55C2.63333 10.0333 3.68333 9.64583 4.75 9.3875C5.81667 9.12917 6.9 9 8 9C9.1 9 10.1833 9.12917 11.25 9.3875C12.3167 9.64583 13.3667 10.0333 14.4 10.55C14.8833 10.8 15.2708 11.1625 15.5625 11.6375C15.8542 12.1125 16 12.6333 16 13.2V16H0ZM18 16V13C18 12.2667 17.7958 11.5625 17.3875 10.8875C16.9792 10.2125 16.4 9.63333 15.65 9.15C16.5 9.25 17.3 9.42083 18.05 9.6625C18.8 9.90417 19.5 10.2 20.15 10.55C20.75 10.8833 21.2083 11.2542 21.525 11.6625C21.8417 12.0708 22 12.5167 22 13V16H18ZM8 8C6.9 8 5.95833 7.60833 5.175 6.825C4.39167 6.04167 4 5.1 4 4C4 2.9 4.39167 1.95833 5.175 1.175C5.95833 0.391667 6.9 0 8 0C9.1 0 10.0417 0.391667 10.825 1.175C11.6083 1.95833 12 2.9 12 4C12 5.1 11.6083 6.04167 10.825 6.825C10.0417 7.60833 9.1 8 8 8ZM18 4C18 5.1 17.6083 6.04167 16.825 6.825C16.0417 7.60833 15.1 8 14 8C13.8167 8 13.5833 7.97917 13.3 7.9375C13.0167 7.89583 12.7833 7.85 12.6 7.8C13.05 7.26667 13.3958 6.675 13.6375 6.025C13.8792 5.375 14 4.7 14 4C14 3.3 13.8792 2.625 13.6375 1.975C13.3958 1.325 13.05 0.733333 12.6 0.2C12.8333 0.116667 13.0667 0.0625 13.3 0.0375C13.5333 0.0125 13.7667 0 14 0C15.1 0 16.0417 0.391667 16.825 1.175C17.6083 1.95833 18 2.9 18 4ZM2 14H14V13.2C14 13.0167 13.9542 12.85 13.8625 12.7C13.7708 12.55 13.65 12.4333 13.5 12.35C12.6 11.9 11.6917 11.5625 10.775 11.3375C9.85833 11.1125 8.93333 11 8 11C7.06667 11 6.14167 11.1125 5.225 11.3375C4.30833 11.5625 3.4 11.9 2.5 12.35C2.35 12.4333 2.22917 12.55 2.1375 12.7C2.04583 12.85 2 13.0167 2 13.2V14ZM8 6C8.55 6 9.02083 5.80417 9.4125 5.4125C9.80417 5.02083 10 4.55 10 4C10 3.45 9.80417 2.97917 9.4125 2.5875C9.02083 2.19583 8.55 2 8 2C7.45 2 6.97917 2.19583 6.5875 2.5875C6.19583 2.97917 6 3.45 6 4C6 4.55 6.19583 5.02083 6.5875 5.4125C6.97917 5.80417 7.45 6 8 6Z' fill='white'/%3e%3c/svg%3e");
  left: 0;
  position: absolute;
  top: 1px;
}

.new-slider-page__sidebar ul li,
.new-slider-page__sidebar ol li {
  color: #fff;
  font-size: 16px;
  line-height: 20.3px;
  list-style: none;
}

.new-slider-page__sidebar ul li:not(:last-child),
.new-slider-page__sidebar ol li:not(:last-child) {
  margin-bottom: 25px;
}

.new-slider-page__sidebar ul li a,
.new-slider-page__sidebar ol li a {
  color: inherit;
}

.new-slider-page__top {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #343D55;
  left: 0;
  display: flex;
  height: 80px;
  padding: 0 var(--padding-content);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.new-slider-page__top .column {
  align-items: center;
  display: flex;
}

.new-slider-page__top .column:nth-child(1) {
  margin-right: auto;
  padding-right: 15px;
}

.new-slider-page__top .column:nth-child(1) p {
  font-size: 22px;
  line-height: 20.3px;
  margin-left: 39px;
}

.new-slider-page__top .column:nth-child(2) p {
  font-size: 22px;
  line-height: 20.3px;
  text-align: right;
}

.new-slider-page__top .column:nth-child(2) p span {
  color: #28CD25;
  font-weight: 700;
  margin-left: 2px;
}

.new-slider-page__top .column:nth-child(3) {
  margin-left: 185px;
}

.new-slider-page__top .column p {
  color: #fff;
  margin: 0;
}

.new-slider-page__top .block-photo {
  background-color: #363F5E;
  border-radius: 50%;
  height: 53px;
  flex: 0 0 53px;
  position: relative;
  width: 53px;
}

.new-slider-page__top .block-photo:not(.online) span {
  display: none;
}

.new-slider-page__top .block-photo img {
  border-radius: inherit;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.new-slider-page__top .block-photo span {
  background-color: #06B253;
  border-radius: 50%;
  bottom: 0;
  height: 13.46px;
  position: absolute;
  right: 3px;
  width: 13.46px;
  z-index: 1;
}

.new-slider-page__top .new-account-button {
  align-items: center;
  background-color: #FFCD06;
  border-radius: 5px;
  color: #000;
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 20.3px;
  height: 46px;
  flex: 0 0 199px;
  margin-left: 32px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  width: 199px;
}

.new-slider-page__top .menu__icon,
.new-slider-page__top .menu__icon span,
.new-slider-page__top .menu__icon::before,
.new-slider-page__top .menu__icon::after {
  flex: 0 0 26px;
  width: 26px;
}

.new-slider-page__top .menu__icon {
  display: block;
  height: 46px;
  position: relative;
  margin-left: 25px;
  z-index: 6;
}

.new-slider-page__top .menu__icon span,
.new-slider-page__top .menu__icon::before,
.new-slider-page__top .menu__icon::after {
  background-color: #fff;
  border-radius: 6px;
  left: 0;
  height: 2px;
  position: absolute;
  transition: 0.2s;
}

.new-slider-page__top .menu__icon::before,
.new-slider-page__top .menu__icon::after {
  content: "";
}

.new-slider-page__top .menu__icon::before {
  top: 15px;
}

.new-slider-page__top .menu__icon::after {
  bottom: 15px;
}

.new-slider-page__top .menu__icon span {
  font-size: 0;
  transform: scale(1) translate(0, -50%);
  top: 50%;
}

.new-slider-page__top .menu__icon._active span {
  transform: scale(0) translate(0, -50%);
}

.new-slider-page__top .menu__icon._active::before {
  transform: rotate(-45deg) translate(1px, -3px);
  top: 50%;
}

.new-slider-page__top .menu__icon._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(-1px, 0);
}

.new-slider-page__head {
  margin-bottom: 12px;
  min-height: 275px;
  padding-bottom: 52px;
  padding-top: 144px;
  position: relative;
}

.new-slider-page__head h1,
.new-slider-page__head p {
  color: #fff;
}

.new-slider-page__head h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
  margin-top: auto;
}

.new-slider-page__head p {
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  margin: 17px 0 0;
}

.new-slider-page__head img {
  bottom: 0;
  height: 100%;
  display: table;
  left: 50%;
  min-width: 1458px;
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  width: auto;
  z-index: -1;
}

.new-slider-page__head .sk-spinner-pulse {
  display: none;
}

.new-slider-page__content {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-content) 48px;
  position: relative;
  width: calc(100% - 260px);
}

.new-slider-page__block-slider {
  margin-top: 41px;
}

.new-slider-page__block-slider:nth-last-of-type(1) {
  margin-bottom: 47px;
}

.new-slider-page__block-slider h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 20.3px;
  margin: 0;
}

.new-slider-page__wrap-slider {
  margin-top: 18px;
  position: relative;
}

.new-slider-page__wrap-slider .swiper-conteiner {
  overflow: hidden;
}

.new-slider-page__wrap-slider .swiper-slide {
  padding-bottom: 12.5%;
  position: relative;
}

.new-slider-page__wrap-slider .swiper-slide img,
.new-slider-page__wrap-slider .swiper-slide iframe {
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.new-slider-page__wrap-slider .swiper-slide iframe {
  border: none;
}

.new-slider-page__wrap-slider .swiper-button-prev,
.new-slider-page__wrap-slider .swiper-button-next {
  height: 25px;
  transform: translateY(-50%);
  margin-top: 0;
  width: 15.42px;
  z-index: 2;
}

.new-slider-page__wrap-slider .swiper-button-prev::after,
.new-slider-page__wrap-slider .swiper-button-next::after {
  display: none;
}

.new-slider-page__wrap-slider .swiper-button-prev img,
.new-slider-page__wrap-slider .swiper-button-prev svg,
.new-slider-page__wrap-slider .swiper-button-next img,
.new-slider-page__wrap-slider .swiper-button-next svg {
  max-height: 100%;
  max-width: 100%;
}

.new-slider-page__wrap-slider .swiper-button-prev {
  left: -31px;
}

.new-slider-page__wrap-slider .swiper-button-next {
  right: -31px;
}

.new-slider-page__footer {
  border-top: 1px solid #5C6A8E;
  margin-top: auto;
  padding-top: 19px;
  width: 100%;
}

.new-slider-page__footer p {
  color: #8A9BC7;
  font-size: 16px;
  line-height: 20.3px;
  margin: 0;
  text-align: center;
}

.new-slider-page__footer p a {
  color: inherit;
}

/* Footer */

/* Plyr video player */

@media screen and (min-width: 1025px) {
  .new-slider-page__top .menu__icon {
    display: none;
  }
}

@media screen and (max-width: 1680.98px) {
  .new-slider-page__top .column:nth-child(3) {
    margin-left: 80px;
  }
}

@media screen and (max-width: 1440.98px) {
  .new-slider-page__top .column:nth-child(3) {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1366.98px) {
  :root {
    --padding-content: 50px;
    --padding-content: 50px;
  }

  .new-slider-page__top .column:nth-child(1) p {
    margin-left: 25px;
  }

  .new-slider-page__top .new-account-button {
    flex: 0 0 170;
    width: 170px;
  }

  .new-slider-page__head h1 {
    font-size: 60px;
  }

  .new-slider-page__head p {
    font-size: 28px;
    line-height: 28px;
  }

  .new-slider-page__head img {
    transform: translateX(-38%);
  }
}

@media screen and (max-width: 1280.98px) {
  .new-slider-page__blockLogo {
    height: 50px;
    margin: 0 0 35px;
  }

  .new-slider-page__sidebar {
    padding-top: 12px;
  }

  .new-slider-page__top {
    height: 68px;
  }

  .new-slider-page__top .column:nth-child(1) p {
    font-size: 18px;
    line-height: 18px;
    margin-left: 15px;
  }

  .new-slider-page__top .column:nth-child(2) p {
    font-size: 18px;
    line-height: 18px;
    margin-left: 20px;
  }

  .new-slider-page__top .column:nth-child(2) p span {
    margin-left: 0;
  }

  .new-slider-page__top .column:nth-child(3) {
    margin-left: 25px;
  }

  .new-slider-page__top .block-photo {
    height: 45px;
    flex: 0 0 45px;
    width: 45px;
  }

  .new-slider-page__top .block-photo span {
    bottom: 1px;
    height: 10px;
    right: 4px;
    width: 10px;
  }

  .new-slider-page__top .new-account-button {
    font-size: 16px;
    flex: 0 0 150px;
    width: 150px;
  }

  .new-slider-page__head {
    min-height: 220px;
    padding-bottom: 20px;
    padding-top: 120px;
  }
}

@media screen and (max-width: 1200.98px) {
  .new-slider-page__wrap-slider .swiper-slide {
    padding-bottom: 16%;
  }
}

@media screen and (max-width: 1100.98px) {
  .new-slider-page__head h1 {
    font-size: 48px;
  }

  .new-slider-page__head p {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1024.98px) {
  .new-slider-page__sidebar {
    left: -103%;
    height: 100%;
    position: fixed;
    transition: left 0.3s;
    top: 0;
    z-index: 3;
  }

  .new-slider-page__sidebar.show {
    left: 0;
  }

  .new-slider-page__sidebar ul,
  .new-slider-page__sidebar ol {
    height: 100%;
    max-height: calc(100dvh - 120px);
    overflow-x: auto;
  }

  .new-slider-page__top {
    padding-left: 15px;
    padding-right: 15px;
  }

  .new-slider-page__content {
    width: 100%;
  }
}

@media screen and (max-width: 800.98px) {
  .new-slider-page__head img {
    transform: translateX(-45%);
  }
}

@media screen and (max-width: 767.98px) {
  .new-slider-page__wrap-slider .swiper-slide {
    padding-bottom: 27%;
  }
}

@media screen and (max-width: 720.98px) {
  .new-slider-page__top {
    height: 50px;
  }

  .new-slider-page__top .column:nth-child(1) p {
    font-size: 14px;
    line-height: 14px;
    margin-left: 8px;
  }

  .new-slider-page__top .column:nth-child(2) p {
    font-size: 14px;
    line-height: 14px;
    margin-left: 0;
  }

  .new-slider-page__top .column:nth-child(3) {
    margin-left: 15px;
  }

  .new-slider-page__top .block-photo {
    height: 30px;
    flex: 0 0 30px;
    width: 30px;
  }

  .new-slider-page__top .block-photo span {
    height: 7px;
    right: 2px;
    width: 7px;
  }

  .new-slider-page__top .new-account-button {
    font-size: 14px;
    height: 32px;
    flex: 0 0 110px;
    margin-left: 20px;
    width: 110px;
  }

  .new-slider-page__head {
    min-height: 150px;
    padding-top: 100px;
  }

  .new-slider-page__head::after {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    content: "";
    left: -80px;
    position: absolute;
    right: -80px;
    top: 0;
    z-index: -1;
    width: calc(100% + 160px);
  }

  .new-slider-page__head h1 {
    font-size: 34px;
    line-height: 20px;
  }

  .new-slider-page__head p {
    font-size: 18px;
    line-height: 18px;
  }

  .new-slider-page__head img {
    transform: translateX(-58%);
  }
}

@media screen and (max-width: 600.98px) {
  :root {
    --padding-content: 30px;
    --padding-content: 30px;
  }

  .new-slider-page__wrap-slider .swiper-button-prev {
    left: -24px;
  }

  .new-slider-page__wrap-slider .swiper-button-next {
    right: -24px;
  }
}

@media screen and (max-width: 575.98px) {
  .new-slider-page__blockLogo {
    height: 36px;
    margin: 0 0 30px;
  }

  .new-slider-page__content {
    padding-bottom: 20px;
  }

  .new-slider-page__block-slider:nth-last-of-type(1) {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 540.98px) {
  .new-slider-page__top {
    height: auto;
    min-height: 70px;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .new-slider-page__top .column:nth-child(1) {
    align-items: flex-start;
    flex-direction: column;
    padding-right: 8px;
    flex: 0 0 100px;
    width: 100px;
  }

  .new-slider-page__top .column:nth-child(1) p {
    margin: 3px 0 0 0;
  }

  .new-slider-page__top .column:nth-child(2) {
    flex-wrap: wrap;
  }

  .new-slider-page__top .column:nth-child(2) p {
    order: 1;
    margin: 6px 0 0 0;
    text-align: left;
    width: 100%;
  }

  .new-slider-page__top .column:nth-child(2) .page__theme {
    margin: 6px auto;
  }

  .new-slider-page__top .column:nth-child(3) {
    flex: 0 0 26px;
    margin-left: 8px;
    width: 26px;
  }

  .new-slider-page__top .column:nth-child(3) .menu__icon {
    margin-left: auto;
  }

  .new-slider-page__top .new-account-button {
    margin-left: 0;
    margin-right: auto;
  }

  .new-slider-page__head {
    min-height: 170px;
    padding-top: 130px;
  }
}

@media screen and (max-width: 400.98px) {
  .new-slider-page__wrap-slider {
    margin-top: 10px;
  }

  .new-slider-page__wrap-slider .swiper-slide {
    padding-bottom: 56%;
  }
}